.sidebar {
  width: 200px;
  /* background-color: #2e2e2e; */
  color: white;
  height: 100vh;
  padding: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin: 15px 0;
}
a {
  color: white;
  text-decoration: none;
}
a.router-link-exact-active {
  font-weight: bold;
}